.exercise-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .exercise-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .exercise-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px  black;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .exercise-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  
  .exercise-button:hover {
    background-color: #0056b3;
  }
  
  .exercise-history {
    margin-top: 20px;
  }
  
  .exercise-history h3 {
    margin-bottom: 10px;
  }
  
  .exercise-list {
    list-style: none;
    padding: 0;
  }
  
  .exercise-list-item {
    margin-bottom: 10px;
  }
  