.fit {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .coverArticle{
    text-align: center;
    margin-bottom: 20px;
  }

  .coverArticle h2 {
    font-size: 2em;
    margin-bottom: 5px;
  }

  .coverArticle img{
    color: #007bff;
    cursor: pointer;
  }

  .optional {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
  }

  .cover-article h2 {
    font-size: 1.5em;
  }
  
  .cover-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .optional-select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
  }
  
  .article-section {
    margin-bottom: 20px;
  }
  
  .article-page {
    text-align: left;
  }
  
  .go-back-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .nutrition-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .no-article {
    text-align: center;
    color: #777;
  }
  
  /* ExtraResources.css */

.card{
    background-color: black;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: inline-block; /* Display horizontally */
  white-space: normal; /* Allow text wrap inside wine-categoryf */
  vertical-align: top; /* Align to the top to maintain uniform height */
  margin-right: 20px; /* Add some spacing between items */
  width: 220px; 
  height: 450px;
  flex-shrink: 0;
  animation: moveLeftToRight 20s linear infinite;
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes appearAndMoveLeft {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
  }
  
  
  /* Apply animation and stagger start times */
  .card:nth-child(1) {
    animation: moveLeftToRight 20s linear infinite, wineCategoryStagger 20s linear infinite;
  }
  
  .card:nth-child(2) {
    animation: moveLeftToRight 20s linear infinite, wineCategoryStagger 20s linear infinite;
  }
  
  .card:nth-child(3) {
    animation: moveLeftToRight 20s linear infinite, wineCategoryStagger 20s linear infinite;
  }
  
  .card:nth-child(4) {
    animation: moveLeftToRight 20s linear infinite, wineCategoryStagger 20s linear infinite;
  }
  
  /* Staggered start times */
  @keyframes extraResourcesStagger {
    0% {
      animation-delay: 0s;
    }
    100% {
      animation-delay: -20s; /* Delay equal to total animation duration */
    }
  }

  .card img {
    width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  padding:10px;
  }

  .extraResources {
    background-color: #F8E5E5;
  text-align: center;
  padding: 60px 0;
  overflow-x: hidden; /* Hide horizontal overflow */
  white-space: nowrap; /* Prevent line break */

  }
  
  .cards-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .card {
    flex: 0 0 auto;
    width: 200px; /* Adjust the width as needed */
    margin-right: 20px;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    height: 120px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .card button {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  