

body {
  font-family: 'Arial', sans-serif;

  margin: 0;
  padding: 0;
}


.reminder-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.container {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 100vh; 
  padding: 20px; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

